// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$rcp-blue: #273186;
$rcp-blue2: #23bbe4;
$rcp-green: #85c441;
$rcp-green2: #b5d333;
