// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.fade-out {
    animation: fadeOut 2s linear;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

// Auth Pages
.auth-bg {
    background-image: url('/public/images/Auth-Background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-card {
    background-color: rgba(255, 255, 255, 0.1);
}

a {
    text-decoration: none;
}
