// Variables
@import 'variables';

.bg-rcp-blue {
    background-color: $rcp-blue;
}

.bg-rcp-blue2 {
    background-color: $rcp-blue2;
}

.bg-rcp-green {
    background-color: $rcp-green;
}

.bg-rcp-green2 {
    background-color: $rcp-green2;
}
